@import url("var.less");

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

img { 
	max-width: 100%;
}

.active {
	text-decoration: underline;
}

html, body {
	max-height: 100%;
}

/*	SELF CLEARING FLOATS - CLEARFIX METHOD */
.container:after,
.row:after, 
.col:after, 
.clr:after,  
.group:after { 
	content: "";  
	display: table; 
	clear: both; 
}

/***Mobile First Yo! --- mobile portrait and smaller mobile screens***/
@media(max-width: 519px) {
	body {
		background: #fff;
	}

	#heroVid {display: none !important;}  

	.container {width: 100%;}

	.header {
		margin-left: 10px;
	}

	.mainnav {display: none;}

	.span_11 {width: 100%;}

	.beacon-hero {
		height: 454px; 
		width: 100%; 
		/*background: #569ad5;*/
		background: #569ad5 url(../img/cta_background.png) repeat-x;

		h1 {
			text-align: center;
			line-height: 1.2em;
			padding: 30px 0 10px 0;
			/*font-family: 'Lustria', serif;*/
			font-family: Arial, sans-serif;  
			font-weight: 500;
		}
	}

	.hamburgerBtn {
		float: right; 
		margin: -50px 10px 0 0;
	}

	.hideBtn {
		float: right; 
		margin: -45px 10px 0 0;
		display: none;
	}
	
	#beaconLogo {width: 90%; margin: 0 0 12% 5%;}

	#watchVideo {
		position: relative;
		background: @watchvidbtn;
		height: 62px;
		width: 85%;
		margin: 2% 0 0 7%;
		padding-top: 10px;
		.round
	}

	/***Add before to #watchVideo for the play button***/
	#watchVideo:before {
		content: ""; 
		position: absolute;
		border-right: 1px solid #2d2d2d;
		float: left;
		height: 50px;
		padding: 2px 12px 0 34px;	
		margin: 0 0 0 10px;
		background: url(../img/play.png) no-repeat;
	}

	#watchVideo p {
		line-height: 1em;
		margin: 0 0 0 23%;
		width: 75%;
		font-family: "Arial Narrow", Arial, sans-serif;
		font-weight: 500;
	}

	p#btntxtsm {
		color: #5d5d5d;
		font-size: 125%;
	}

	p#btntxtlg {
		font-size: 175%;
		color: #2d2d2d; 
	}

	section.beacon-item { 
		width: 90%;
		margin-left: 4%;
	
		h1 {
			
			font-size: 225%;
		}

		p {
			font-size: 85%;
		}
	}

	.imgSlide {
		margin-bottom: 5%; 
	}

	#moveTop {display: none;}

	.botBold {margin-bottom: 5%; font-weight: bold;}

	.stickNav {display: none;}
	.demo-stickNav {display: none;}

	#d-card {width: 90% !important;}
	
	#rep {
		width: 90% !important;
		float: none !important;
		margin: 0 0 0 5% !important;
		line-height: 2.5em !important;

		p {
			line-height: 1.5em !important;
		}
	}

	.btn-lg {width: 50% !important; padding: 12px 12px 12px 12px !important;}

	/***mobile menu***/
	.mobile-menu {
		background: #f5f5f5;
		margin: 14px 0 0 0;
		width: 100%;
		padding: 10px 0 10px 0;
		display: none;

		ul li {
			list-style: none;
			width: 100%;
			margin: 10px 0 10px -33px;
			background: @sticknav;
			height: auto;
			position: relative;
			padding: 1px 8px 1px 15px;

		}

		a { 
			color: @white;
			font-weight: 700;
		}

		p {
			font-weight: 100;
			margin-top: -15px;
			font-family: @tre;
			margin-left: 25%;
			margin-bottom:8px;
			display: none; 
		} 

		h3 { 
			font-size: 140%;
		}
	}

	span.m-img {
		background: #fff;
		width: 25%;
		position: absolute;
		height: 100%;
		margin-left: -15px;
		margin-top: -1px;
		display: none;
	}


	 .owl-next, .owl-prev {
			display: none !important;
		}




	/*===================================================
	** DEMO PAGE STYLE (Mobile)                        **
	**==================================================*/

 	.demo-hero-unit {display: none;}

	.mobile-demo-hero {
		height: 175px;
		width: 100%;
		background: url(../img/cta-mobile-520.jpg) no-repeat;
		position: relative;

		h2 {
			text-align: center;
			padding-top: 70px;
			font-family: 'Lustria', serif; /*franklin gothic alternative*/
			opacity: 1;
			font-size: 125%;
		}
	}

	/***Demo content***/
	section.demo-item {
		margin-bottom: 50px;

	ul li {
			list-style: none;
			position: relative;
		}

		p.demo-txt {
			background: #c1d72e;
			width: 85%;
			margin: -41px 0 0 10px;
			padding: 20px 0 20px 10px;


		}

		li {
			margin: 25px 0 0 15px;
		}

		a {
			color: #2d2d2d;
			font-size: 110%;
			margin-left: 15px;
			padding: 20px 0;

		}

		h1 {
			font-weight: 100;
			font-size: 150%;
			text-indent: 5px;
			margin-bottom: 26px;
		}
	}

	span.demo-img {
		width: 60px;
		position: absolute;
		height: 60px;
		top: -19px;
		left: -51px;
		border: 1px solid #c1d82e;
	}


/**======================================================
** Data Visualization Page Style
**=====================================================**/
.hero-unit {
	height: 175px;
	width: 100%;
	background: url(../img/cta-data.jpg) no-repeat;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	margin-top: 20px;

}

.slogan {
	background: rgba(0,0,0,0.5);
	width: auto;
	position: absolute;
	margin: 45px 0 0 0;
	padding: 10px 20px 10px 20px;
	


	h1 {
		opacity: 1;
		margin: 0;
	}
}

.data-item {

	ul li {
		display: inline; 
		float: left;

	}

	li {
		width: 95%;
		margin: 5% 4% 0 0;
		border: 2px solid #c1d72e;
		height: 237px;
		position: relative;
	}

	p {
		background: #c1d72e;
		padding: 10px 0 10px 10px;
		position: absolute;
		width: 97.5%;
		top: 77%;

	}

	a {color: #ffffff;}
}

p.demo-description {
	margin-bottom: 55px;
}

.dealion li {
	list-style: none;
	background-color: #c1d82f;
	padding: 2px;
	max-width: 90%;
	display: block;
	margin: 0 4% 4% 4%;
}

.dealion p {
	padding: 5px;
	color: #fff;
	line-height: 0;
}

.dealion li img {
	width: 100%;
	height: auto;
}

}

/***for mobile landscape and tablet portrait***/
@media (min-width: 520px) and (max-width: 768px) {


	.container {width: 90%; margin: 0 auto;}

	.hamburgerBtn {display: none !important;} 
	.beacon-hero {
		height: 350px;
		width: 100%;
		background: #569ad5 url(../img/cta_background.png) repeat-x; 

		h1 {
			text-align: center;
			line-height: 1.2em;
			padding: 30px 0 10px 0;
			font-family: Arial, sans-serif;
			font-weight: 500;

		}
	}

	#beaconLogo {width: 44%;} 

	#watchVideo {display: none;}

	.stickNav {
		background: @sticknav;
		width: 100%;
		line-height: 0em;
		margin-top: -16px;
		padding: 1px 0 1px 0;

		ul li {
			display: inline;
			list-style: none;
			margin: 0 20px 0 0;
		}

		a { 
			color: @white;
			font-size: 100%;
			font-family: Arial, sans-serif;
		}

		a:hover {text-decoration: underline;}
	}


	.mobile-demo-slogan {display: none;}

	.demo-stickNav {
		background: @sticknav;
		width: 100%;
		line-height: 0em;
		margin-top: 0;
		padding: 7px 0 7px 0;

		ul li {
			display: inline;
			list-style: none;
			margin: 0 20px 0 0; 
		} 

		a { 
			color: @white;
			font-size: 100%;
			font-family: Arial, sans-serif;
		}

		a:hover {text-decoration: underline;} 
	}

	#d-card {width: 90% !important;}
	#rep {
		width: 90% !important;
		float: none !important;
		margin: 0 0 0 5% !important;
		line-height: 2.5em !important;

		p{
			line-height: 1.5em !important;
		}


	}

	.btn-lg {width: 50% !important; padding: 12px 12px 12px 12px !important;}

	
	/*#heroVid {width: 38% !important;}*/

	.mobile-menu {display: none !important;}


	.hideBtn {display: none !important;}

	#heroVid {margin: -115px 0 0 48% !important;}



		/*=============================================================
		** BEGGINING OF TABLET STYLE  								 **
		**===========================================================*/


	/***Demo content***/
	.mobile-hero-unit {display: none;}
	.demo-hero-unit{
		height: 140px;
		width: 100%;
		background: url(../img/cta-tablet-768.jpg);
		position: relative;
		padding-top: 57px;
		margin-top: 20px;
	}

	section.demo-item {
		
		display: block;
		padding-top: 50px;

		ul {
			margin-left: -36px;
		}

		ul li {
			list-style: none;
			margin-bottom: 25px;
	
		}

		li {
			display: block;
			float: left;
			width: 45%;
			border: 2px solid #c1d72e;
			margin-right: 2%;
			position: relative;
			height: 162px;
			margin-bottom: 10px;

		}

		h1 {
			font-weight: 100;
		}
	}

	.demo-slogan{
		padding: 10px 0 10px 20px;
		width: 85%;
		background: rgba(0,0,0,0.5);
		
		h1 {
			/*font-family: 'Lustria', serif;*/ 
			margin: 0;

		}
	}

	p.demo-txt {
		text-align: center; 
		background: #c1d72e;
		position: absolute;
		bottom: -16px;
		width: 100%;
		padding: 10px 0 10px 0;
		color: #ffffff;
	}

	span.demo-img {
		position: absolute;
		width: 100%;
		height: 100%;

		img {width: 100%; height: inherit;}
	}


/**======================================================
** Data Visualization Page Style
**=====================================================**/
.hero-unit {
	height: 175px;
	width: 100%;
	background: url(../img/cta-data.jpg) no-repeat; 
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	margin-top: 20px;

}

.slogan {
	background: rgba(0,0,0,0.5);
	width: auto;
	position: absolute;
	margin: 45px 0 0 0;
	padding: 10px 20px 10px 20px;
	


	h1 {
		/*font-family: 'Lustria', serif;*/ 
		opacity: 1;
		margin: 0;
	}
}


.data-item {

	ul li {
		display: block; 
		clear: both;

	}

	li {
		width: 90%;
		margin: 5% 4% 0 0;
		border: 2px solid #c1d72e;
		height: 265px;
		position: relative;
	}

	p {
		background: #c1d72e;
		padding: 10px 0 10px 10px;
		position: absolute;
		width: 98%;
		top: 80%;
	}

	a {color: #ffffff;}
}

.dealion li {
	list-style: none;
	background-color: #c1d82f;
	padding: 2px;
	max-width: 90%;
	display: block;
	margin: 0 4% 4% 4%;
}

.dealion p {
	padding: 5px;
	color: #fff;
	line-height: 0;
}

.dealion li img {
	width: 100%;
	height: auto;
}
	
}

/***For tablets to smaller displays***/
@media (min-width: 769px) and (max-width: 959px) {


	.menuBtns {display: none;}

	#rep p {line-height: 1.5em !important;}

	.container {width: 90%; margin: 0 auto;}

	.hamburgerBtn {display: none !important;}

	.beacon-hero {
		height: 350px;
		width: 100%;
		background: #569ad5 url(../img/cta_background.png) repeat-x;

		h1 {
			text-align: center;
			line-height: 1.2em;
			padding: 30px 0 10px 0;
			/*font-family: 'Lustria', serif;*/
			font-family: Arial, sans-serif;
			font-weight: 500;

		}
	}

	#beaconLogo {width: 44%;} 

	#watchVideo {display: none;}

	.stickNav {
		background: @sticknav;
		width: 100%;
		line-height: 0em;
		margin-top: -16px;
		padding: 1px 0 1px 0;

		ul li {
			display: inline;
			list-style: none;
			margin: 0 45px 0 0;
		}

		a { 
			color: @white;
			font-size: 100%;
			font-family: Arial, sans-serif;
		
		}

		a:hover {text-decoration: underline;}
	}

	.mobile-demo-slogan {display: none;}

	.demo-stickNav {
		background: @sticknav;
		width: 100%;
		line-height: 0em;
		margin-top: 0;
		padding: 7px 0 7px 0;

		ul li {
			display: inline;
			list-style: none;
			margin: 0 20px 0 0;
		}

		a { 
			color: @white;
			font-size: 100%;
			font-family: Arial, sans-serif;
		}

		a:hover {text-decoration: underline;}
	}

	.mobile-menu {display: none !important;}

	.hideBtn {display: none !important;}

	/***unslider***/
	.banner {
			
			position: relative !important;
			
			margin-left: 0;

			height: auto !important;
			img {
				max-width: 100%;
			}
			
		}


		.banner ul li {

			list-style: none; 
			display: block;
			width: 21% !important;
			list-style: none;
			margin-right:4%;
			padding: 0px;
		}

		.desc {
			margin-top: 20px;
			float: none;
			color: #000;
			width: 100%;
			
		}

	/***Demo content -- tablet to small desktop displays***/
	.mobile-hero-unit {display: none;}
	.demo-hero-unit{
		height: 250px;
		width: 100%;
		background: url(../img/cta-large.jpg);
		position: relative;
		padding-top: 57px;
		margin-top: 20px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		background-size: cover;
	}

	section.demo-item {
		
		display: block;
		padding-top: 50px;

		ul {
			margin-left: -36px;
		}

		ul li {
			list-style: none;
			margin-bottom: 25px;
	
		}

		li {
			display: block;
			float: left;
			width: 30%;
			border: 2px solid #c1d72e;
			margin-right: 2%;
			position: relative;
			height: 162px;
			margin-bottom: 10px;

		}

		h1 {
			font-weight: 100;
		}
	}

	.demo-slogan{
		padding: 10px 0 10px 20px;
		width: 70%;
		background: rgba(0,0,0,0.5);
		
		h1 {
			/*font-family: 'Lustria', serif;*/
			margin: 0;

		}
	}

	p.demo-txt {
		text-align: center; 
		background: #c1d72e;
		position: absolute;
		bottom: -16px; 
		width: 100%;
		padding: 10px 0 10px 0;
		color: #ffffff;
	}

	span.demo-img {
		position: absolute;
		width: 100%;
		height: 100%;

		img {width: 100%; height: inherit;}
	}

	/**======================================================
	** Data Visualization Page Style
	**=====================================================**/
.hero-unit {
	height: 175px;
	width: 100%;
	background: url(../img/cta-data.jpg) no-repeat;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	margin-top: 20px;

}

.slogan {
	background: rgba(0,0,0,0.5);
	width: auto;
	position: absolute;
	margin: 45px 0 0 0;
	padding: 10px 20px 10px 20px;
	


	h1 {
		/*font-family: 'Lustria', serif;*/
		opacity: 1;
		margin: 0;
	}
}

.data-item {

	ul li {
		display: inline; 
		float: left;

	}

	li {
		width: 45%;
		margin: 5% 4% 0 0;
		border: 2px solid #c1d72e;
		height: 237px;
		position: relative;
	}

	p {
		background: #c1d72e;
		padding: 10px 0 10px 10px;
		position: absolute;
		width: 97.5%;
		top: 77%;
	}

	a {color: #ffffff;}
}

.dealion li {
	list-style: none;
	background-color: #c1d82f;
	padding: 2px;
	max-width: 90%;
	display: block;
	margin: 0 4% 4% 4%;
}

.dealion p {
	padding: 5px;
	color: #fff;
	line-height: 0;
}

.dealion li img {
	width: 100%;
	height: auto;
}

}

/***For laptops/desktops***/
@media (min-width: 960px) and (max-width: 1200px) {

	.slideInfo {
		position: relative;
		float: right;
		width: 35%;
		margin: -212px 0 0 10px;
	}
	.container {width: 960px; margin: 0 auto;}

	.hamburgerBtn {display: none !important;}

	#beaconLogo {margin-left: 75px; margin-top: 35px;}

	.beacon-hero {
		height: 350px;
		width: 100%;
		background: #569ad5 url(../img/cta_background.png) repeat-x;

		h1 {
			text-align: center;
			line-height: 1.2em;
			padding: 24px 0 10px 0;
			font-family: Arial, sans-serif; 
			font-weight: 500;

		}
	}

	#beaconLogo {width: 44%;} 

	#watchVideo {display: none;}

	.stickNav {
		background: @sticknav;
		width: 100%;
		line-height: 0em;
		
		margin-top: -16px;
		text-align: center;
		
		padding: 3px 0 1px 0;

		ul li {
			display: inline;
			list-style: none;
			margin: 0 45px 0 0;
		}

		a { 
			color: @white;
			font-size: 100%;
			font-family: Arial, sans-serif;
			
		}

		a:hover {text-decoration: underline;}
	}

	.mobile-demo-slogan {display: none;}

	.demo-stickNav {
		background: @sticknav;
		width: 100%;
		line-height: 0em;
		margin-top: 0;
		padding: 7px 0 7px 0;

		ul li {
			display: inline;
			list-style: none;
			margin: 0 20px 0 0;
		}

		a { 
			color: @white;
			font-size: 100%;
			font-family: Arial, sans-serif;
		}

		a:hover {text-decoration: underline;}
	}
	.mobile-menu {display: none !important;}

	.hideBtn {display: none !important;}



		.desc {
			margin-top: 75px;
			float: right;
			position: absolute;
			color: #000;
			width: 33%;
			margin-left: 34px;
		}


	.owl-theme .owl-controls {
			position: absolute;
			right: 0;
			top: 0;
		}


.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: 0;
  top: 125px;
  background: url(../img/progArrow-6x12.svg) no-repeat;
  width: 15px;
  height: 15px; 
}


/***Demo content -- tablet to small desktop displays***/
	.mobile-hero-unit {display: none;}
	.demo-hero-unit{
		height: 250px;
		width: 100%;
		background: url(../img/cta-large.jpg);
		position: relative;
		padding-top: 57px;
		margin-top: 20px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		background-size: cover;
	}

	section.demo-item {
		
		display: block;
		padding-top: 50px; 

		ul {
			margin-left: -36px;
		}

		ul li {
			list-style: none;
			margin-bottom: 25px;
	
		}

		li {
			display: block;
			float: left;
			width: 30%;
			border: 2px solid #c1d72e;
			margin-right: 2%;
			position: relative;
			height: 162px;
			margin-bottom: 20px;
		}

		h1 {
			font-weight: 100;
			margin-left: 10px;
		}
	}

	p.demo-description {margin-left: 10px; color: #444444; margin-top: -10px;}

	.demo-slogan{
		padding: 10px 0 10px 20px;
		width: 65%;
		background: rgba(0,0,0,0.5);
		
		h1 {
			/*font-family: 'Lustria', serif;*/
			margin: 0;

		}
	}

	p.demo-txt {
		text-align: center; 
		background: #c1d72e;
		position: absolute;
		bottom: -16px;
		width: 100%;
		padding: 10px 0 10px 0;
		color: #ffffff;
	}

	span.demo-img {
		position: absolute;
		width: 100%;
		height: 100%;

		img {width: 100%; height: inherit;}
	}

	/**======================================================
	** Data Visualization Page Style
	**=====================================================**/
.hero-unit {
	height: 175px;
	width: 100%;
	background: url(../img/cta-data.jpg) no-repeat;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	margin-top: 20px;

}

.slogan {
	background: rgba(0,0,0,0.5);
	width: auto;
	position: absolute;
	margin: 45px 0 0 0;
	padding: 10px 20px 10px 20px;
	


	h1 {
		/*font-family: 'Lustria', serif;*/ 
		opacity: 1;
		margin: 0;
	}
}


.data-item {

	ul li {
		display: inline; 
		float: left;
 
	}

	li {
		width: 45%;
		margin: 5% 4% 0 0;
		border: 2px solid #c1d72e;
		height: 243px;
	}

	p {
		background: #c1d72e;
		padding: 10px 0 10px 10px;
	}

	a {color: #ffffff;}
}

.dealion li {
	list-style: none;
	background-color: #c1d82f;
	padding: 2px;
	max-width: 40%;
	display: inline-block;
	float: left;
	margin: 0 4% 4% 4%;
}

.dealion p {
	padding: 5px;
	color: #fff;
	line-height: 0;
}

.dealion li img {
	width: 100%;
	height: auto;
}


}

/***For larger displays***/
@media(min-width: 1201px) {

	.hideBtn {display: none !important;}

	.slideInfo {
		position: relative;
		float: right;
		width: 35%;
		margin: -212px 0 0 10px;
	}

	.container {width: 960px; margin: 0 auto;}

	.hamburgerBtn {display: none !important;}

	#beaconLogo {margin-left: 100px;}

	.beacon-hero {
		height: 350px;
		width: 100%;
		
		background: #569ad5 url(../img/cta_background.png) repeat-x;

		h1 {
			text-align: center;
			line-height: 1.2em;
			padding: 24px 0 10px 0;
			font-family: Arial, sans-serif; 
			font-weight: 500;

		}
	}

	#beaconLogo {width: 40%; margin-top: 35px;} 

	#watchVideo {display: none;}

	.stickNav {
		background: @sticknav;
		width: 100%;
		line-height: 0em;
		text-align: center;
		margin-top: -16px;
		padding: 3px 0 1px 0;

		ul li {
			display: inline;
			list-style: none;
			margin: 0 45px 0 0;
		}
 
		a { 
			color: @white;
			font-size: 100%;
			font-family: Arial, sans-serif;
			
		}


		a:hover {text-decoration: underline;}
	}

	.mobile-demo-slogan {display: none;}

	.demo-stickNav {
		background: @sticknav;
		width: 100%;
		line-height: 0em;
		margin-top: 0;
		padding: 7px 0 7px 0;

		ul li {
			display: inline;
			list-style: none;
			margin: 0 20px 0 0;
		}

		a { 
			color: @white;
			font-size: 100%;
			font-family: Arial, sans-serif;
		}

		a:hover {text-decoration: underline;}
	}

	.mobile-menu {display: none !important;}


	.banner {
		position: relative !important;
		height: 340px !important;
	
	
	}

		.banner ul li {

			list-style: none; 
			display: block;
			float: left;
			width: 33%;
			padding: 0px;
		}

		.desc {
			margin-top: 75px;
			float: right;
			position: absolute;
			color: #000;
			width: 33%;
			margin-left: 34px;
		}

		.owl-theme .owl-controls {
			position: absolute;
			right: 0;
			top: 0;
		}

		.owl-theme .owl-controls .owl-buttons .owl-prev {
			left: -920px !important;
			top: 150px !important;
		}

		.owl-theme .owl-controls .owl-buttons .owl-next {
		
			top: 150px !important;
		}




	/***Demo content -- tablet to small desktop displays***/
	.mobile-hero-unit {display: none;}
	.demo-hero-unit{
		height: 250px;
		width: 100%;
		background: url(../img/cta-large.jpg);
		position: relative;
		padding-top: 57px;
		margin-top: 20px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		background-size: cover;
	}

	section.demo-item {
		
		display: block;
		padding-top: 50px;

		ul {
			margin-left: -36px;
		}

		ul li {
			list-style: none;
			margin-bottom: 25px;
		}

		li {
			display: block;
			float: left;
			width: 22%;
			border: 2px solid #c1d72e;
			margin-right: 2%;
			position: relative;
			height: 162px;
			margin-bottom: 20px;
			-webkit-transition: border .5s ease;
			-moz-transition: border .5s ease;
			-o-transition: border .5s ease;
			-ms-transition: border .5s ease;
			transition: border .5s ease;


		}

		li:hover {
			border: 2px solid #d2e936;
		}

		h1 {
			font-weight: 100;
			margin-left: 10px;
		}
	}

	p.demo-description {
		margin-left: 10px;
		color: #444444;
		margin-top: -10px;
	}

	.demo-slogan {
		padding: 10px 0 10px 20px;
		width: 75%;
		background: rgba(0,0,0,0.5);
		margin-top: 15px;
		
		h1 {
			margin: 0;
			font-size: 2em;

		}
	}

	p.demo-txt {
		text-align: center; 
		background: #c1d72e;
		position: absolute;
		bottom: -16px;
		width: 100%;
		padding: 10px 0 10px 0;
		color: #ffffff;
	}

	span.demo-img {
		position: absolute;
		width: 100%;
		height: 100%;

		img {width: 100%; height: inherit;}
	}

/**======================================================
** Data Visualization Page Style
**=====================================================**/
.hero-unit {
	height: 250px;
	width: 100%;
	background: url(../img/cta-data.jpg) no-repeat;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	margin-top: 20px;

}

.slogan {
	background: rgba(0,0,0,0.5);
	width: auto;
	position: absolute;
	margin: 66px 0 0 0;
	padding: 15px 20px 10px 20px;
	max-width: 50%;

	h1 {
		/*font-family: 'Lustria', serif;*/
		opacity: 1;
		margin: 0;
	}
}

.data-item {

	ul li {
		display: inline; 
		float: left;

	}

	li {
		width: 45%;
		margin: 5% 4% 0 0;
		border: 2px solid #c1d72e;
		height: 243px;
	}

	li:hover {
		
	}

	p {
		background: #c1d72e;
		padding: 10px 0 10px 10px;
	}

	a {color: #ffffff;}
}

.dealion li {
	list-style: none;
	background-color: #c1d82f;
	padding: 2px;
	max-width: 40%;
	display: inline-block;
	float: left;
	margin: 0 4% 4% 4%;
}

.dealion p {
	padding: 5px;
	color: #fff;
	line-height: 0;
}

.dealion li img {
	width: 100%;
	height: auto;
}


}


/*==========================================================================
** GLOBAL STYLES
**=========================================================================*/

body {
	font-family: sans-serif;
	color: white;
}

.header {

	height: 65px;
	padding: 12px 0 0 0;
	
}

article {
	line-height: 20em;
	text-align: center;
	
}

aside {
	line-height: 20em;
	text-align: center;
	background: #999;
}

footer {
	
	text-align: center;
	background: #BBB;
}

section {
	color: #000;
}

nav {

	float:right;
	margin-top: -56px;

	ul li {
		display: inline-block;
		margin: 0 20px 0 20px ;
	}

	a {
		color: #333;
		font-family: Arial, sans-serif;
		text-decoration: none;
	}
 
	a:hover {
		text-decoration: underline;
	}
}

.sticky {
	position: fixed;
	width: 100%;
	left: 0; 
	right: 0;
	z-index: 100;
	border-top: 0;
	top: 12px;
	-webkit-animation: chase 1s ease 1;

}

.demo-sticky {
	position: fixed;
	width: 100%;
	left: 0; 
	right: 0;
	z-index: 100;
	border-top: 0;
	top: 0;
}

#brand svg {width: 167px; height: 65px;}

#moveTop {float: right; margin: -25px 15px 0 0;}

.footer {width: 100%; background: #dddddd; height: auto; margin-top: 100px; padding: 25px 0 25px 0;}
section.beacon-item{padding-top: 25px;}

 
#heroVid {
background: #ccc;
/*width: 300px;
height: 171px;*/
/*float: right;*/
margin: -190px 0 0 58%;
position: relative; 
} 



/***Footer content style***/
#d-card {
	background: @white;
	color: #333;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	width: 35%;
	padding: 20px 0 20px 0;
	margin-left: 5%;
	border: 1px solid #bbbbbb;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.5);
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.5);
	-o-box-shadow: 0 1px 2px 0 rgba(0,0,0,.5);
	-ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,.5);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.5);


	p {
		line-height: 1.5em;
		margin-top: -15px;
	}

	a {
		color: #333;
		text-decoration: underline;
	}

}

#rep {
	text-align: left;
	width: 50%;
	float: right;
	margin-top: -200px;
	color: #000000;

	p {
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		line-height: 0.5em;
	}

	h4 {
		font-weight: 100;
	}

	span {
		font-weight: bold;
	}

	a {line-height: 3em;}
}
 
.botBold {font-weight: bold;}
 
#logo {
	height: 62px;
	width: 167px;
}

.i-distribute {
	width: 32px;
	height: 32px;
}

#moveTop {width: 20px; height: 20px;}

.next img {width: 12px; height: 24px;}
.prev img {width: 12px; height: 24px;}

select {
	color: #2d2d2d;
	cursor: pointer;
	.round(5px);
	width: 275px;
	/*margin: 4px;*/
	/*width:275px;	
	background: #f5f5f5;
	border: 1px solid #ccc;
	.round(5px);
	padding: 0 0 0 5px;
	cursor: pointer;*/
	

}

.slide { 
	cursor: pointer;
}

#heroVid {

	border: 2px solid #2d2d2d;

	iframe {
		width: 100%;
	}
}

.description {margin-left: 40px; color: #333333;}
.bottom-desc {color: #444444; line-height: 1.4em;}

#dv-desc {color: #000; background: none;}

/***Button styles and other cool stuff***/
.btn-lg {
	color: #fff;
	width: 25%;
	background: #c1d72e;
	.round(7px);
	padding: 12px 25px 12px 25px;
	text-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;
	font-weight: bold;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.5);
	background: #ccf235; /* Old browsers */
background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.34, #ccf235), to(#c1d72e));
background: -webkit-linear-gradient(#ccf235 34%, #c1d72e 100%);
background: -moz-linear-gradient(#ccf235 34%, #c1d72e 100%);
background: -o-linear-gradient(#ccf235 34%, #c1d72e 100%);
background: linear-gradient(#ccf235 34%, #c1d72e 100%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccf235', endColorstr='#c1d72e',GradientType=0 ); /* IE6-9 */

}

.clear {clear: both;}

/***keyframe animation for sticky nav --- translateY(value)***/
/*@-webkit-keyframes chase {
	from {
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
 
	to {
		-webkit-transform: translateY(25%);
		transform: translateY(25%);
	}
}

@keyframes chase {
	-webkit-transform: translateY(100%);
	transform: translateY(100%); 
}*/