[class*="icon-"] {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(sprites.svg);
	background-repeat: no-repeat;
}
.icon-gfc_test-50x50 {
	background-position: 0 0;
	width: 32px;
}
.icon-gfc_build-50x50 {
	background-position: -48px 0;
	width: 32px;
}
.icon-gfc_distribute-50x50 {
	background-position: -96px 0;
	width: 32px;
}
.icon-gfc_report-50x50 {
	background-position: -144px 0;
	width: 32px;
}
.icon-gfc_RH-50x50 {
	/* height: 37px; */
	background-position: -192px 0px;
	width: 32px;
	/* position: absolute; */
}
